<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='app.js')}}"></script>
</head>
<body>

<nav class = "navbar navbar-default" role = "navigation">
   
   <div class = "navbar-header">
      <button type = "button" class = "navbar-toggle" 
         data-toggle = "collapse" data-target = "#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
      </button>
		
      <a class = "navbar-brand" href = "/home">Hi {{session.username}}!</a>
   </div>
   
   <div class = "collapse navbar-collapse" id = "example-navbar-collapse">
	
      <ul class = "nav navbar-nav">
         <li><a href="/home"><span class=""></span>Home</a></li>
         <li><a href="/home/id/{{session.uuid}}"><span class=""></span>My account</a></li>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
      </ul>
   </div>
</nav>
   
   <form id="home_form" action="#" method="GET">
    <div class="form-group">
      <label for="amount">I:</label>
      <input placeholder="..." class="form-control" type="text" id="amount" name = "amount" required>
    </div>
    <button type="submit" class="btn btn-default">Send</button>
  </form>
  
  {% if user_info %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Email</th>
        <th>CC number</th>
        <th>CC type</th>
      </tr>
    </thead>
    <tbody>
  <tr>
       <td> {{user_info[1]}}</td>
       <td> {{user_info[2]}}</td>
       <td> {{user_info[3]}}</td>
  </tr>
   </tbody>
</table>


  {% endif %}
</body>
</html>
