<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='app.js')}}"></script>
</head>
<body>

<nav class = "navbar navbar-default" role = "navigation">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" rel="home" href="/" title="Aahan Krish's Blog - Homepage"></a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <div class="col-sm-3 col-md-3 pull-right">
        <form id="searchorm" class="navbar-form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="srchterm" id="srchterm">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="sendsrch()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
        </div>

    </div>
</div>

<div class="container">
   {% if tried_login %}
      <h3 style="color: red;"><b>Bad credentials for {{user}}</b></h3>
   {% endif %}
  <h4 style="text-align: center;">Login to post comments and notes</h4>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="nm">Username:</label>
      <input placeholder="Enter username" class="form-control" type="text" id="nm" name = "nm" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="passw" placeholder="Enter password" required>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
  </form>
</div>

<hr />



</body>
</html>
